/CurrentRelease/*.zip
/CurrentRelease/Apps
/CurrentRelease/CommandLine/Mac/
/CurrentRelease/CommandLine/Linux/
/CurrentRelease/CommandLine/Windows/
/CurrentRelease/SampleScripts/ReleaseTestScripts/data1.txt
