!/CurrentRelease/CommandLine/Windows/*.exe
*.zip
/CurrentRelease/Apps
/CurrentRelease/CommandLine/Mac/TightenerGW/
/CurrentRelease/CommandLine/Linux/TightenerGW/
/CurrentRelease/CommandLine/Windows/TightenerGW/
/CurrentRelease/SampleScripts/ReleaseTestScripts/data1.txt
